@import '../../../styles.sass'

.container
    height: 80%
    width: 100%
    display: flex
    
    .modules-list
        height: 100%
        width: 20%
        background: white
        margin-right: 4%
        border: 4px black solid
        border-radius: 12px
        overflow: auto

        .title-area
            width: 100%
            height: 8%
            text-align: center
            border-bottom: 4px $aegis-light-gray solid

            .title
                font-family: jockey one
                font-size: 24px
                color: black
                margin-bottom: 10%

        .module-selector
            position: relative
            width: 100%
            height: 12%
            border-bottom: 4px $aegis-light-gray solid
            display: flex
            align-items: center
            justify-content: center
            font-family: inter
            font-size: 16px
            cursor: pointer
            transition-duration: 200ms

            &:hover
                background-color: $aegis-blue
                color: white

            .icon-trash
                width: 20px
                position: absolute
                right: 5%
                top: 50%
                transform: translateY(-50%)
                cursor: pointer

        .add-module-selector
            font-size: 40px

    .module
        position: relative
        height: 100%
        width: 70%
        background: white
        border: 4px black solid
        border-radius: 12px
        display: flex
        justify-content: center
        overflow-y: auto
        overflow-x: hidden

        h1
            position: absolute
            left: 50%
            transform: translateX(-50%)
            font-family: inter

        .content
            width: 80%
            padding: 36px
            margin-top: 20px
            font-size: 20px
            font-family: inter
            line-height: 1.6
            overflow-wrap: break-word

            .characters
                width: 103%
                display: flex
                justify-content: start
                overflow-x: scroll
                gap: 3%
                padding-bottom: 30px
                padding-top: 50px
                padding-left: 25px

            p
                padding-bottom: 30px

            .page-controller
                position: relative
                width: 100%
                display: flex
                justify-content: center
                padding-bottom: 30px
                gap: 5%

                img
                    cursor: pointer
                    &:hover 
                        transform: scale(1.075)
                        transition-duration: 200ms
                    &:not(:hover)
                        transform: scale(1)
                        transition-duration: 200ms


        .default-message
            width: 50%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 80%

        .add-module
            width: 70%
            min-height: 100%
            padding: 36px
            font-size: 20px
            font-family: inter

            .input
                display: flex
                flex-direction: column
                margin: 30px

                .text-input
                    padding: 8px 20px
                    border-radius: 15px
                    font-family: inter

                .large
                    height: auto
                    min-height: 200px

            .content-controller
                width: 100%
                display: flex
                justify-content: center

                img
                    cursor: pointer

            .button
                position: absolute
                left: 50%
                transform: translateX(-50%)

// For mobile screens
@media only screen and (max-width: 850px)
    .container
        height: 89%
        flex-direction: column
        gap: 1%

        .modules-list
            width: 98%
            height: 16%
            display: flex
            flex-direction: row
            align-items: center

            .title-area
                min-width: 30%
                height: 100%
                border: none
                place-content: center
                border-right: 4px $aegis-light-gray solid

                .title
                    font-size: medium
                    margin: 0

            .module-selector
                min-width: 30%
                height: 100%
                border: none
                border-right: 4px $aegis-light-gray solid

                p
                    text-align: center
                    font-size: 14px

        .module
            width: 98%

            h1
                text-align: center
                font-size: 24px
                margin-top: 32px

            .content
                width: 85%
                padding: 18px

                p
                    font-size: 16px

                .characters
                    padding-top: 75px
                    padding-left: 10px

            .add-module
                width: 100%
                padding: 20px
                margin-top: 32px

                form
                    padding-bottom: 48px