<app-navbar>
    <div class="container">
        <div class="modules-list">
            <div class="title-area">
                <h1 class="title">Course Content</h1>
            </div>
            @for (item of modules; track item) {
                <div class="module-selector" (click)="addModulePanel = false; moduleSelected = item.id">
                    <p>{{ item.moduleName }}</p> 
                    @if (isAdmin) {
                        <img src="assets/icon-trash.png" alt="Delete Module" class="icon-trash" (click)="deleteModule(moduleSelected)">
                    }
                </div>
            }
            @if (isAdmin) {
                <div class="add-module-selector module-selector" (click)="addModulePanel = true">
                    <p>+</p>
                </div>
            }
        </div>
        <div class="module">
            @if (!addModulePanel) {
                @if (moduleSelected) {
                    <button class="quiz-button button-small">Quiz</button>
                    <h1>{{ getName(this.moduleSelected) }}</h1>
                    <div class="content">
                        <div class="characters">
                            @for (item of getCharacters(moduleSelected); track item) {
                                <app-character-card [character]="item"></app-character-card>
                            }
                        </div>
                        <p>{{ getContent(this.moduleSelected) }}</p>
                    </div>
                } @else {
                    <img src="assets/braille-spark-logo-black.png" alt="Braille-Spark Logo" class="default-message">
                }
            } @else {
                <h1>Add Module</h1>
                <div class="add-module">
                    <form (submit)="addModule()">
                        <div class="input">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="text-input" [(ngModel)]="formData.name" required>
                        </div>
                        <div class="input">
                            <label for="content">Content</label>
                            <textarea type="text" id="content" name="content" class="text-input large" [(ngModel)]="formData.content" required></textarea>
                        </div>
                        <div class="input">
                            <label for="character">Characters taught (max: 10)</label>
                            <input type="text" id="character" name="character" maxlength="10" class="text-input" [(ngModel)]="formData.character" required>
                        </div>
                        <input type="submit" value="Add Module" class="button" >
                    </form>
                </div>
            }
        </div>
    </div>
</app-navbar>