<app-navbar>
    <div class="container">
        <div class="modules-list">
            <div class="title-area">
                <h1 class="title">Course Content</h1>
            </div>
            @for (module of modules; track module) {
                <div class="module-selector" (click)="addModulePanel = false; moduleSelected = module">
                    <p>{{ module.name }}</p> 
                    @if (isAdmin) {
                        <img src="assets/icon-trash.png" alt="Delete Module" class="icon-trash" (click)="this.moduleService.deleteModule(moduleSelected.id)">
                    }
                </div>
            }
            @if (isAdmin) {
                <div class="add-module-selector module-selector" (click)="addModulePanel = true">
                    <p>+</p>
                </div>
            }
        </div>
        <div class="module">
            @if (!addModulePanel) {
                @if (moduleSelected) {
                    <button class="quiz-button button-small">Quiz</button>
                    <h1>{{ moduleSelected.name }}</h1>
                    <div class="content">
                        <div class="characters">
                            @for (item of moduleSelected.characters; track item) {
                                <app-character-card [character]="item"></app-character-card>
                            }
                        </div>
                        <p>{{ moduleSelected.content }}</p>
                    </div>
                } @else {
                    <img src="assets/braille-spark-logo-black.png" alt="Braille-Spark Logo" class="default-message">
                }
            } @else {
                <h1>Add Module</h1>
                <div class="add-module">
                    <form (submit)="this.moduleService.addModule(moduleData);">
                        <div class="input">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" class="text-input" [(ngModel)]="moduleData.name" required>
                        </div>
                        <div class="input">
                            <label for="content">Content</label>
                            <textarea type="text" id="content" name="content" class="text-input large" [(ngModel)]="moduleData.content" required></textarea>
                        </div>
                        <div class="input">
                            <label for="character">Characters taught (max: 10)</label>
                            <input type="text" id="character" name="character" maxlength="10" class="text-input" [(ngModel)]="moduleData.characters" required>
                        </div>
                        <input type="submit" value="Add Module" class="button">
                    </form>
                </div>
            }
        </div>
    </div>
</app-navbar>