<div class="background">
  <nav class="navbar">
    <img src="assets/Braille Spark-logos_white2.0.png" alt="braille-spark logo" class="braille-spark-logo" routerLink="/dashboard">
      <ul class="nav-links">
        <li><a class='navbarLogo' routerLink="/learn"><img src="assets/Whitebook.png" alt="Learn Modules"></a></li>
        <li><a class='navbarLogo' routerLink="/view"><img src="assets/WhiteEye.png" alt="View Course"></a></li>
        <li><a class='navbarLogo' routerLink="/translator"><img src="assets/icon-finger.png" alt="Translate"></a></li>
        <li><a class='navbarLogo' routerLink="/resources"><img src="assets/Light.png" alt="Resources"></a></li>
        <li><a class='navbarLogo' routerLink="/manage-account"><img src="assets/WhiteSettings.png" alt="Manage Account"></a></li>
      </ul>
      <img src="assets/aegis-logo.png" alt="aegis logo" class="aegis-logo">
    </nav>
    <div class="content">
      <ng-content class="content"></ng-content>
    </div>
</div>
