<app-navbar>
    <div class="backgroundimg">
        <img src="assets/additionalResources.png">
    </div>
    <div class="Links">
        <h1 style="color: rgb(255, 255, 255); text-align: center; font-family: Jockey One; ">Additional Resources</h1>
        <br>
        <a href="https://www.perkins.org/how-the-braille-alphabet-works/">
            <h2>How The Braille Alphabet Works</h2></a>
        <a href="https://www.pathstoliteracy.org/tips-and-tools-teaching-beginning-braille-skills/">
            <h2>Tips and Tools for Teaching Beginning Braille Skills</h2></a>
        <a href="https://www.braillists.org/beginners/">
            <h2>Braille for Beginners</h2></a>
        <a href="https://www.perkins.org/resource/braille-learning-at-home/">
            <h2>Braille learning at home</h2></a>
        <a href="https://nfb.org/programs-services/center-excellence-nonvisual-access/international-braille-and-technology-center">
            <h2>International Braille & Technology Center for the Blind</h2></a>
        <a href="https://www.guidedogs.org.uk/getting-support/information-and-advice/how-can-technology-help-me/how-to-read-braille/">
            <h2>How To Read Braille</h2></a>
        <a href="https://www.hhs.texas.gov/services/disability/blind-visually-impaired">
            <h2>Blind & Visually Impaired Services</h2></a>
        <a href="https://afb.org/blindness-and-low-vision/visionaware">
            <h2>Resources for Adults New to Vision Loss</h2></a>

    </div>
  
</app-navbar>
