<div class="change-password-panel">
    <h2>Change Password</h2>
    <form (submit)="onSubmit()">
        <div class="input-box">
            <label for="old-password">Old password</label>
            <input type="password" name="old-password" id="old-password" [(ngModel)]="formData.oldPassword" required>
        </div>
        <div class="input-box">
            <label for="new-password">New password</label>
            <input type="password" name="new-password" id="new-password" [(ngModel)]="formData.newPassword" required>
        </div>
        <div class="input-box">
            <label for="confirm-password">Confirm New Password</label>
            <input type="password" name="confirm-password" id="confirm-password" [(ngModel)]="formData.confirmPassword" required>
        </div>
        <input type="submit" value="Submit" class="submit">
    </form>
</div>