@import '../../../../styles.sass'

.card
    width: 100%
    min-width: 70px
    display: flex
    flex-direction: column
    align-items: center
    border: 2px black solid
    border-radius: 8px
    background-color: $aegis-light-gray

    .braille
        font-size: 32px