<div class="bg">
    <div class="panel">
        <div class="dashboard-panel">
            <div class="first-half">
                <div class="box big-box" routerLink="/learn">
                    <div class="icon-and-title">
                        <img src="assets/icon-book.png" alt="book icon" class="icon">
                        <h1 class="menu-title">
                            Learn Modules
                        </h1>
                    </div>
                </div>
                <div class="box small-box">
                    <div class="icon-and-title">
                        <img src="assets/icon-eye.png" alt="eye icon" class="icon">
                        <h1 class="menu-title">
                            View Course
                        </h1>
                    </div>
                </div>
            </div>
            <div class="second-half">
                <div class="box small-box" routerLink="/manage-account">
                    <div class="icon-and-title">
                        <img src="assets/icon-gears.png" alt="gears icon" class="icon">
                        <h1 class="menu-title">
                            Manage Account
                        </h1>
                    </div>
                </div>
                <div class="box big-box" routerLink="/translator">
                    <div class="icon-and-title">
                        <img src="assets/icon-braille.png" alt="braille icon" class="icon">
                        <h1 class="menu-title">
                            Translator
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/aegis-logo.png" alt="aegis logo" class="aegis-logo">
</div>